**/.DS_Store
**/node_modules
**/css/site.css
**/css/site.min.css
**/js/*.min.js
**/js/*.min.js.map

## CORDOVA
# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing
